<h1><%= @restaurant.name %></h1>

<h4>Description</h4>
<p><%= @restaurant.description %></p>

<h4>Full Address</h4>
<p><%= @restaurant.full_address %></p>

<h4>Phone Number</h4>
<p><%= @restaurant.phone_number %></p>

<%= form_for(@restaurant) do |r| %>
	<%= r.fields_for(@reservation) do |f| %>
		email address: <%= f.email_field :email %>
		time: <%= f.datetime_select :time %>
	<% end %>
	<%= r.submit %>
<% end %>
